
<% content_for :title do %>1080p dashboard<% end %>
<div class="gridster">
  <ul>
    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="welcome" data-view="Clock" data-title="Clock" data-text=""></div>
    </li>

      <li data-row="1" data-col="1" data-sizex="3" data-sizey="1">                
      <div data-id="verbinski" data-view="Verbinski"></div>                     
    </li> 

    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="temp1" data-view="Number" data-title="Baby's Room Temperature" data-moreinfo="Since 8am" data-suffix="C"></div>
    </li>
	
	<li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="humid" data-view="Number" data-title="Baby's Room Humidity" data-moreinfo="Since 8am" data-suffix="%"></div>
    </li>
	
	<li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="temp2" data-view="Number" data-title="Study Temperature" data-moreinfo="Since 8am" data-suffix="C"></div>
    </li>

  </ul>
</div>
