
<% content_for :title do %>1080p dashboard<% end %>
<script type='text/javascript'>
$(function() {
  $('li').live('click', function(e){
    var widget = $(this).find('.widget');
    var test = widget.data('device')
    var async = true
    var request = new XMLHttpRequest();
    var eid = widget.data('id');
    console.log("eid");
    console.log(eid);
    console.log("test");
    console.log(test);
    request.open("POST","http://requestb.in/1h5i9nv1",async);
    request.setRequestHeader("Content-Type", "text/plain;charset=UTF-8");

if( widget.data('device') == "on"){
    console.log("test before");
	console.log(test);
	test = "off";
    console.log("test after");
	console.log(test);
	var sendvalue = widget.data('id') + "=off";
	request.send(sendvalue);
	document.getElementById(eid).setAttribute("data-device","off");
	
}else if( widget.data('device') == "off"){
    console.log("test before");
	console.log(test);
	test = "on";
    console.log("test after");
	console.log(test);
	var sendvalue = widget.data('id') + "=on";
	request.send(sendvalue);
	document.getElementById(eid).setAttribute("data-device","on");
	
}
else{
console.log("no dice");
}

  });
});
</script>
<div class="gridster">
  <ul>
    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="welcome" data-view="Clock" data-title="Clock" data-text=""></div>
    </li>

      <li data-row="1" data-col="1" data-sizex="3" data-sizey="1">                
      <div data-id="verbinski" data-view="Verbinski"></div>                     
    </li> 

    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="temp1" data-view="Number" data-title="Baby's Room Temperature" data-moreinfo="Since 8am" data-suffix="C"></div>
    </li>
	
	<li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="humid" data-view="Number" data-title="Baby's Room Humidity" data-moreinfo="Since 8am" data-suffix="%"></div>
    </li>
	
	<li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="temp2" data-view="Number" data-title="Study Temperature" data-moreinfo="Since 8am" data-suffix="C"></div>
    </li>

    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div id="kitchen" data-id="kitchen" data-view="Number" data-title="Kitchen" data-device="on"></div>
    </li>

  </ul>
</div>
